@media only screen and (min-width: 576px) {
  h1 { font-size: 2rem; }
}

@media only screen and (min-width: 992px) {
  h1 { font-size: 3rem; }
}

@media only screen and (max-width: 575px) {
  .carousel-item img {
    height: 300px;
  }
}
body {
  background-color: rgb(243, 200, 221);
}

body div h1 {
  text-align: center;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-size: small;
  background-color: rgb(113, 85, 122);
  color: #fff;
  padding: 7px;
  margin: 0;
}

.navbar {
  position: relative;
}


.carousel-item img {
  object-fit: cover;
  height: 500px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000;
  border-radius: 50%;
  padding: 15px;
}


.accordion-button {
  background: transparent;
  color: #fff; /* mejor contraste sobre morado */
  padding-left: 0;
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}

.accordion-body {
  background-color: #71557a;
  color: #fff; /* mejor contraste */
  padding-left: 0;
}

.card img {
  object-fit: cover;
  height: 100%;
}

article {
  background-color: #d183a9;
  padding: 20px;
}

.review-box {
  margin-bottom: 1.5rem;
}


.btn-dark {
  background-color: #000;
  color: #fff;
  border: none;
}

.btn-dark:hover {
  background-color: #333;
}

.btn-transparent {
  background: transparent;
  border: none;
  color: inherit;
}


.anclado #btnUp {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
}


footer {
  background-color: #d183a9;
}

.fondo {
  text-align: center;
  padding: 10px;
}

.bajo {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}


.text-bg {
  font-size: 1.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #4b1535;
}

