@media only screen and (min-width: 576px) {
  h1 { font-size: 2rem; }
}

@media only screen and (min-width: 992px) {
  h1 { font-size: 3rem; }
}

body {
  background-color: rgb(243, 200 ,221);
}

header h1 {
  text-align: center;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-size: small;
  background-color: rgb(113, 85, 122);
  color: #ffffff;
  padding: 7px;
}
h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

div h5 {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(75, 21, 63);
}

div h6 {
  text-align: center;
  font-size: smaller;
  color: #4b1535;
  font-family: 'Times New Roman', Times, serif;
}

.navbar {
  position: relative;
}

.marquis {
  background-color: #3a345b;
  color: white;
}

.card img {
  height: 250px;
  object-fit: cover;
}

#ordenarProducto,
#ordenarNombre {
  border-radius: 20px;
  padding: 6px 12px;
  font-size: 0.9rem;
}

 .anclado
#btnUp{
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
 
}

footer aside {
  background-color: rgb(113, 85, 122);
}


.fondo {
  text-align: center;
  padding: 10px;
}

.bajo {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
